<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Key Value Store</title>
</head>
<body>
<a href="/" style="margin-right: 20px;">Home page</a>
<a href="/list" style="margin-right: 20px;">List all elements</a>
<a href="/change" style="margin-right: 20px;">Change an element</a>
<a href="/insert" style="margin-right: 20px;">Insert new element</a>
<a href="/api/coins" style="margin-right: 20px;">JSON</a>
<h2>Welcome to the home page</h2>
</body>
</html>