<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Key Value Store!</title>
</head>
<body>
<a href="/" style="margin-right: 20px;">Home page</a>
<a href="/list" style="margin-right: 20px;">List all elements</a>
<a href="/change" style="margin-right: 20px;">Change an element</a>
<a href="/insert" style="margin-right: 20px;">Insert new element</a>
{{if .Success}}
    <h1>Element updated!</h1>
{{else}}
    <h1>Please fill in the fields:</h1>
    <form method="POST">
       <!-- <label>Key:</label><br />
        <input type="text" name="Key"><br /> -->
        <label>Country:</label><br />
        <input type="text" name="Country"><br />
        <label>Region:</label><br />
        <input type="text" name="Region"><br />
        <label>Year:</label><br />
        <input type="text" name="Year"><br />
        <input type="submit">
    </form>
{{end}}
</body>
</html>